.field {
  input {
    background: linear-gradient(180deg, #f8f8f8 0%, rgba(243, 243, 243, 0) 100%, #f2f2f2 100%);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    cursor: pointer;
    padding-left: 33px;
    padding-top: 14px;
    padding-bottom: 13px;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid #4892ec;
    }

    &--error {
      border: 1px solid $error;
    }

    &::placeholder {
      @include text-sets(18px, 25px);
      color: #838383;
    }
  }
}
