.form {
  display: flex;
  flex-direction: column;
  width: 64%;
  min-width: 300px;
  background-color: #ffffff;
  margin: 14% auto 12% 17%;
  padding: 2% 10% 7.1%;

  @media (max-width: $width-tablet) {
    margin: 12% auto auto;
    width: 85%;
  }

  h2 {
    @include text-sets(32px, 40px);
    margin-bottom: 7%;
  }

  label {
    @include text-sets(18px, 24px);
  }

  fieldset {
    @include refresh-fieldset;
  }
}


.form__button {
  display: block;
  padding-left: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;

  @media (max-width: $width-tablet) {
    padding-bottom: 15px;
  }
}
