.js-Dropdown-title {
  background: linear-gradient(360deg, #f3f3f3 0%, rgba(243, 243, 243, 0) 100%);
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  appearance: none;
  padding: 15px 50px 11px 14px;
  text-indent: 5px;
  outline: none;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);

  @include text-sets(18px,25px);

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/arrow-down.svg");
    background-repeat: no-repeat;
    top: 0;
    width: 10px;
    height: 5px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 20px;
    color: #d7d7d7;
  }

}

.js-Dropdown-list {
  display: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);

  @include border-bottom(5px);

  &.is-open {
    display: block;
  }
  li {
    color: #323232;
    border: 1px solid #d7d7d7;
    @include text-sets(16px,21px);
    padding: 10px;
    border-top: none;
    cursor: pointer;

    &:hover,
    &:focus {
      background: rgba(59, 129, 215, 0.15);
    }
    &:last-child {
      @include border-bottom(5px);
    }
  }
  .is-selected {
    &:hover,
    &:focus {
      background-color: #3b81d7;
    }
    background-color: #3b81d7;
  }
}
