.parametr {
  h2 {
    text-align: center;
  }
}

.parametr__content {
  z-index: 5;

  p {
    @include text-sets(24px, 32px);
  }
}

.parametr__size {
  ul {
    @include list-refresh;
    padding: 0 5%;
  }
}

.parametr__field {
  margin-bottom: 8.5%;
}

.parametr__input {
  display: flex;
  align-items: center;
  flex-wrap: wrap;


  input {
    margin-right: auto;
    margin-top: 2%;

    @media (min-width: $width-desktop) {
      margin-right: 8%;
    }
  }

  span {
    @include text-sets(18px, 24px);
  }
}

.parametr__material {
  padding-left: 4%;
  padding-right: 2%;

  h3 {
    @include text-sets(18px,24px);
    margin-bottom: 2%;
  }
}

.parametr__button {
  display: block;
  width: 125px;
  padding: 15px 0 10px;
  position: relative;
  box-shadow: -3px 2px 4px rgba(0, 0, 0, 0.25);
  margin: 0 0 0 2%;

  &::after {
    content: "";
    position: absolute;
    top: 14%;
    right: -14%;
    width: 38px;
    height: 35px;
    background: linear-gradient(180deg, #818387 0%, #696b6f 100%);
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 4px;
    transform: rotate(45deg);
    z-index: -1;
  }

  &--active {
    &::after {
      background: linear-gradient(180deg, #4892ec 0%, #2f79d4 100%);
    }
  }

  &:hover,
  &:focus {
    border-right: none;
    padding: 13px 0 10px;

    &::after {
      outline: none;
      top: 12%;
      right: -14%;
      width: 38px;
      height: 35px;
      background: linear-gradient(0deg, #3e8ff2, #3e8ff2);
    }
  }

  &:active {
    &::after {
      outline: none;
      background: linear-gradient(0deg, #256fca, #256fca);
    }
  }
}
