.success {
  background-color: #ffffff;
  width: 64%;
  min-width: 300px;
  margin: 14% 19% 14% auto;
  padding: 5% 4% 2%;

  @media (max-width: $width-tablet) {
    margin: 14% auto;
  }

  position: relative;

  h2 {
    @include text-sets(26px,35px, 700);
    margin: 0 0 9%;
  }

  p {
    @include text-sets(18px,25px);
    padding: 0 8%;
  }

  h2,
  p {
    text-align: center;
  }
}

.success__close {
  position: absolute;

  @include move-button;
  top: -8%;
  right: 0;

  &:focus,
  &:hover {
    color: rgba(#ffffff, 0.7);
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}
